header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.enlaces1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;

}

.enlaces1 ul {
    display: flex;
    margin-top: 4%;
    padding: 0;
}

.enlaces1 a {
    text-decoration: none;
    color: #01491b;
    font-size: 20px;
}

.enlaces1 li {
    list-style: none;
    margin: 0 15px;
}

.enlaces_contacto {
    position: absolute;
    right: 0px;
    top: 15px;
    overflow: hidden;
}

.enlaces_contacto a {
    color: #004d00;
    text-decoration: none;
}

.enlaces_contacto i {
    margin-right: 5px;
}

.logo_imagen{
    max-height: 300px;
    margin-right: 20px;
}

article h1 {
    color: #01491b;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
}

article img{
    width: 100%;
}

footer {
    background-color: #01491b;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Arial, sans-serif;
}

.imagenes {
    display: flex;
    justify-content: flex-start;
    padding-left: 15%;
}

footer img {
    max-width: 100px;
    margin-right: 5px;
}

footer .Noticias_Recientes_Datos,
footer .datos_contacto {
    width: 30%;
}

footer h2 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

footer p {
    font-size: 14px;
    margin: 5px 0;
}

footer .Noticias_Recientes_Datos p:first-child {
    font-weight: bold;
}

footer .datos_contacto p {
    line-height: 1.6;
}

footer .datos_contacto a {
    color: #ffcc00;
    text-decoration: none;
}

footer {
    position: relative;
    font-size: 14px;
}

footer::after {
    content: "© 2023 Cerveza Gredos. Todos los derechos reservados.";
    font-size: 12px;
    color: #cccccc;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

button{
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 40%;
}